// colors
$matisse: #1f7b99;
$popup-bg: #f6f6f6;
$white: #fff;
$gallery: #f0f0f0;
$gray: #8f8f8f;
$mine-shaft: #333;
$thunder: #231F20;
$alabaster: #f8f8f8;
$silver: #bfbfbf;
$chambray: #3B5998;
$punch: #DB3236;
$punch-light: #E85155;
$dove-gray: #737373;
$black: #000;

.login{
  background: #F7F7F7;
  h1{
    color: #7387B4;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .login_wrapper {
    right: 0;
    margin: 5% auto 0;
    max-width: 350px;
    position: relative;
 }
 .login_content {
    margin: 0 auto;
    padding: 25px 0 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    min-width: 280px;

    form {
      margin: 20px 0;
      position: relative;

      input[type=text] {
        box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,.08) inset;
        border: 1px solid #c8c8c8;
        color: #777;
        margin: 0 0 20px;
        width: 100%;
      }

      input[type=submit] {
       -webkit-appearance: button;
       cursor: pointer;
       float: left;
       margin-left: 38px;
      }
      input[type=password] {
        border-radius: 3px;
        box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,.08) inset;
        border: 1px solid #c8c8c8;
        color: #777;
        margin: 0 0 20px;
        width: 100%;
      }
      .btn {
        border-radius: 3px;
        margin-bottom: 5px;
        margin-right: 5px;
        display: inline-block;
        padding: 6px 12px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        touch-action: manipulation;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
      }
      .btn-default {
        color: #333;
        background-color: #fff;
        border-color: #ccc;
      }
      a {
        font-size: 12px;
        margin: 10px 15px 0 0;
      }
      .separator {
        border-top: 1px solid #D8D8D8;
        margin-top: 10px;
        padding-top: 10px;
      }
    }

    h1 {
      font: 400 25px Helvetica,Arial,sans-serif;
      letter-spacing: -.05em;
      line-height: 20px;
      margin: 10px 0 30px;
      &:before {
        background: #7e7e7e;
        left: 0;
      }
      &:after {
        background: #7e7e7e;
        right: 0;
      }
      &:after, &:before {
        content: "";
        height: 1px;
        position: absolute;
        top: 10px;
        width: 20%;
      }
    }
 }

 .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .alert-danger, .alert-error {
    color: #E9EDEF;
    background-color: rgba(231,76,60,.88);
    border-color: rgba(231,76,60,.88);
  }
  .col-lg-6 {
    position: relative;
    min-height: 1px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-6 {
    width: 50%;
  }
}

// Registration page start here
.registration {
  background-color: #F7F7F7;
  .col-lg-12 {
    position: relative;
    min-height: 1px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;

    h1 {
          font-size: 36px;
          font-weight: 500;
          line-height: 1.1;
          color: #7395C2;
    }
  }
  .login {
    background: #F7F7F7;

    .login_wrapper {
      right: 0;
      margin: 5% auto 0;
      max-width: 350px;
      position: relative;

      .login_content {
        margin: 0 auto;
        padding: 25px 0 0;
        position: relative;
        text-align: center;
        text-shadow: 0 1px 0 #fff;
        min-width: 280px;

        h2 {
          font-size: 18px;
          font-weight: 400;
          margin-top: 10px;
          margin-bottom: 10px;
          color: #7395C2
        }
      }
    }
    .alert-success {
        color: #fff;
        background-color: rgba(38,185,154,.88);
        border-color: rgba(38,185,154,.88);
    }
  }
}




.red{
  background-color: $punch;
  height: 500px;
}
.green{
  background-color: $matisse;
  height: 300px;
}
