// colors
$matisse: #1f7b99;
$popup-bg: #f6f6f6;
$white: #fff;
$gallery: #f0f0f0;
$gray: #8f8f8f;
$mine-shaft: #333;
$thunder: #231F20;
$alabaster: #f8f8f8;
$silver: #bfbfbf;
$chambray: #3B5998;
$punch: #DB3236;
$punch-light: #E85155;
$dove-gray: #737373;
$black: #000;

.rahmat{
  h2{
    color: green;
  }
}
.red{
  background-color: $punch;
  height: 500px;
}
.green{
  background-color: $matisse;
  height: 300px;
}
